#progressBar { padding-top: 5px; }
#progressBarText { 
    width: 500px;
    margin-left: auto;
    margin-right: auto;}
#progressBarBox { 
    width: 500px;
    height: 15px;
    border: 1px;
    border-style: solid;
    background-color: #eeee;
    margin-left: auto;
	margin-right: auto;}
    
#progressBarBoxContent { 
    background-color: red;
    height: 15px;}
	
body { 
    margin-top: 40px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px; 
	background-color: #F5F5FF;
	text-align: center;
	min-width: 500px;
}

img {
	border: 0px;
}

#file-summary {
	width: 500px;
	
	border-bottom-color: #EEEEEE;
	border-style: solid;
	border-width: 1px;
	
	border-collapse: collapse;
	font-size: 12px;
	padding: 0px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}
	#file-summary th {
			padding: 3px;
			border-bottom: #EEEEEE;
			border-bottom-style: solid;
			border-bottom-width: 1px;
			background-color: #EEEEFF;
		}
	#file-summary td {
			padding: 3px;

		}
		
#file-upload {
	width: 500px;
	border-color: #EEEEEE;
	border-style: solid;
	border-width: 1px;

	font-size: 12px;
	padding: 3px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}
	#file-upload tbody td {
			padding: 10px 3px 10px 3px;

		}
		
	#file-upload tfoot td {
			padding: 20px 3px 20px 3px;

		}
#header-menu {
	width: 600px;
	text-align: right;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-color: #BBBBBB;
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-right-width:  1px;                    
	border-style: solid;
	    margin-left: auto;
	margin-right: auto;
}
#header {
    text-align: left;
    margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
	padding-left: 0px;
	padding-right: 0px;
	width: 600px;
	height: 42px;
	background-image: url("../images/header.jpg");
	background-position: top left;
	background-repeat: no-repeat;
    border-color: #BBBBBB;
    border-top-width: 1px;
    border-bottom-width: 0px;
    border-left-width: 1px;
    border-right-width:  1px;                    
    border-style: solid;
}
#header h1 {
    font-size: 14px;
    padding-left: 5px;
    margin-top: 5px;
    margin-bottom: 0px;
    padding-right: 5px;
    padding-bottom: 0px;
}
#header span {
    padding-left: 60px;
    padding-top: 10px;
    margin-bottom: 0px;
    padding-right: 5px;
    padding-bottom: 0px;
    
}
#main {
	text-align: left;
    margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	width: 600px;
	background-color: #FFFFFF;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 30px;
	padding-bottom: 10px;
	border-color: #BBBBBB;
	border-top-width: 1px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-right-width:  1px;                    
	border-style: solid;
	
}

#footer {
    font-size: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    width: 600px;
    background-color: #FAFAFF;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 3px;
    padding-bottom: 3px;

    border-color: #BBBBBB;
    border-top-width: 0px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-right-width:  1px;                    
    border-style: solid;
   
}

a:active {  color: #0000ff; text-decoration: none; }
a:visited {  color: #0000ff; text-decoration: none}
a:link { color: #0000ff; text-decoration: none;}
a:hover { color: #FE660D; text-decoration: underline;}

a:link.button, a:visited.button {
	color: #000000;
	display: inline;
	text-align: center;
	background-color: #eeeeee;
	text-decoration: none;
	border:1px outset blue;
	background-color:#eeeeee;
	padding: 3px 5px;
	margin: 2px;
	height: 15px;
}

a:hover.button {
	color: #000000;
	background-color: #cccccc;
}

input {

	border-style: solid;
	border-color: #0000ff;
	border-width: 1px;
}
 
.message {
	width: 494px;
	font-size: 11px;
	border-style: solid;
	border-color: #11cc11;
	border-width: 1px;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: #fefefe;
}

.error_message {
	width: 494px;
	font-size: 11px;
	color: #FF0000;
	border-style: solid;
	border-color: #ff0000;
	border-width: 1px;
	padding: 2px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5px;
	background-color: #fefefe;
}

.field_selected{

background-color: #f5f5ff;		
	
}

.fieldError {
	display: block;
	color: #FF0000;
		
}
